<mat-toolbar>
  <h1>Invoices</h1>
  <div class="menu-bar">
    <button mat-raised-button color="primary" (click)="obrisiVise()">Obriši više</button>
    <button mat-raised-button color="accent" class="obrisiVise" (click)="saveForm()">New Invoice</button>
  </div>
</mat-toolbar>
<div>
  <mat-spinner *ngIf="usnimavanje"></mat-spinner>
</div>

<div class="table-container mat-elevation-z10" matSort>
<mat-table #table [dataSource]="dataSource" class="mat-elevation-z10">

    <ng-container matColumnDef="item">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.item}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date}}</mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="due" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Due </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.due | date}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="qty" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Qty </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.qty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rate">
      <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tax">
      <mat-header-cell *matHeaderCellDef> Tax </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tax}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bris">
        <mat-header-cell *matHeaderCellDef> Brisi </mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-checkbox (click)="pripremiZaBrisanje(element._id)"></mat-checkbox></mat-cell>
    </ng-container>




    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
           <button mat-icon-button [matMenuTriggerFor]="menuVeza">
             <mat-icon>more_vert</mat-icon>
           </button>

        <mat-menu #menuVeza="matMenu">

          <button mat-menu-item (click)="editirajFormu(element._id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>

          <button mat-menu-item (click)="deleteZapis(element._id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>

        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
                pageIndex='0'
                #paginator
                [length]='brojStranica'
                [showFirstLastButtons] = 'true'
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>



