/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  margin: 0
}



.obrisiVise {
  border-radius: 5px;
  margin-left: 30px !important;
  padding-left: 30px;
  color: blueviolet;
}
